mat-card {
    margin: 0px;
    text-align: center;
    width: 25%;
  }
  
mat-form-field {
  display: block;
}

.container {
    display: flex;
    gap: 30px;
    flex-shrink: 1;
    width: 100%;
    justify-self: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}