<p>
    <mat-toolbar>
        <span>Terra Web</span>
        <span *ngIf="isLoggedIn()">
            <button mat-button (click)="home()">Home</button>
        </span>
        <span *ngIf="isLoggedIn() && isAdmin()">
            <button mat-button (click)="failedLogins()">Failed logins</button>
        </span>
        <span style="align-self:right;" *ngIf="isLoggedIn()">
            <button mat-button (click)="logout()">Logout</button>
        </span>
        <span style="align-self:right;" *ngIf="!isLoggedIn()">
            <button mat-button (click)="login()">Login</button>
        </span>
    </mat-toolbar>
</p>