mat-card {
    max-width: 900px;
    margin: 2em auto;
    text-align: center;
  }
  
mat-form-field {
  display: block;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }